In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
#allows pretty print of dataframes
from IPython.display import display


#1) Reading in csv files with pandas dataframe

#a) Reading in user data
users = pd.read_csv("takehome_users.csv", sep=",", engine='python')
display(users.head())

print(users.info())

#b) Reading in user engagement data
user_engagement = pd.read_csv("takehome_user_engagement.csv")
display(user_engagement.head(5))

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null object
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    8823 non-null float64
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            6417 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB
None

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [64]:
#2) Using 'User_engagement' data to find who is an "adopted user"
# An "adopted user" is a user who has logged into the product on three seperate day sin at least one seven-day period


#a) Converting 'time_stamp' column to datetimes
user_engagement["time_stamp"] = pd.to_datetime(user_engagement["time_stamp"])
# print(user_engagement.info())

#b) setting 'time_stamp' to date time index
user_engagement = user_engagement.set_index("time_stamp")
# print("User engagement df with date time index:\n\n", user_engagement.head())

#c)Creating dataframe to count number of times each user accessed website within 1 week period
user_engagement_weekly_count = user_engagement.groupby(['user_id', pd.TimeGrouper(freq='7D')]).sum()

# print("User engaement df of weekly count:\n\n ")
# display(user_engagement_weekly_count.head(20))

#d) Filtering df to get users with 3 or more logins in a week -- these are the "adopted users"
user_engagement_weekly_count_fltr = user_engagement_weekly_count.loc[user_engagement_weekly_count["visited"]>=3, :]
# print("DF with only users that have accessed website 3 or more times w/i 1 week:\n\n")
# display(user_engagement_weekly_count_fltr)

#e) Extracting unique list of "adopted users"
user_engagement_weekly_count_fltr = user_engagement_weekly_count_fltr.reset_index()

adopted_users = user_engagement_weekly_count_fltr["user_id"].unique()
# print("This is a list of 'adopted users':\n\n", adopted_users)

#f) Making a dataframe containing all adopted users
adopted_users_df = pd.DataFrame({"user_id":adopted_users, "user_adoption": 'yes'})
print("This is a df of adopted users:")
display(adopted_users_df.head())

This is a df of adopted users:

  user_adoption  user_id
0           yes        2
1           yes       10
2           yes       42
3           yes       43
4           yes       53

In [73]:
#3) Joining "adopted users" with "user" dataframe
#a) Performing 'outer join'
combined_df = pd.merge(users,adopted_users_df, left_on ='object_id', right_on = "user_id", how='outer')

#b) Filling nan's in 'user_adoption' column with 'no'
combined_df["user_adoption"].fillna("no", inplace=True)


#c) dropping 'user_id' column
combined_df = combined_df.drop("user_id", axis=1)
display(combined_df.head())

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,user_adoption
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,no
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,yes
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,no
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,no
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,no

In [82]:
#4) Determining most important features to predict if a user will be an 'adopted user' or not

#a) Dropping unnecessary columns
combined_df_model = combined_df.drop(["creation_time", 'name', 'email'], axis=1) #email & names could be 

#b) dropping all rows with nans
combined_df_model_d= combined_df_model.dropna()
# display(combined_df_model_d)

#c) dummifying categorical columns
combined_df_model_w_dum = pd.get_dummies(combined_df_model_d, drop_first=True)
display(combined_df_model_w_dum)

,object_id,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,creation_source_ORG_INVITE,user_adoption_yes
0,1,1.398139e+09,1,0,11,10803.0,0,0
1,2,1.396238e+09,0,0,1,316.0,1,1
2,3,1.363735e+09,0,0,94,1525.0,1,0
3,4,1.369210e+09,0,0,1,5151.0,0,0
4,5,1.358850e+09,0,0,193,5240.0,0,0
5,6,1.387424e+09,0,0,197,11241.0,0,0
9,10,1.401833e+09,1,1,318,4143.0,1,1
12,13,1.396196e+09,0,0,254,11204.0,1,0
16,17,1.397314e+09,1,0,175,1600.0,0,0
21,22,1.392012e+09,0,0,7,2994.0,1,0
22,23,1.345279e+09,1,0,6,23.0,1,0
24,25,1.393373e+09,1,0,81,6312.0,0,0
26,27,1.389807e+09,0,0,134,4189.0,1,0
29,30,1.370307e+09,0,0,251,4835.0,0,0
32,33,1.401518e+09,0,0,401,79.0,0,0
35,36,1.375780e+09,1,0,109,6805.0,0,0
40,41,1.398901e+09,0,0,64,9286.0,1,0
42,43,1.366010e+09,0,0,63,149.0,0,1
45,46,1.388602e+09,0,0,127,2125.0,1,0
46,47,1.339162e+09,1,1,32,11800.0,1,0
47,48,1.383576e+09,0,0,224,526.0,1,0
49,50,1.350990e+09,0,0,61,50.0,0,0
50,51,1.377165e+09,0,1,0,9093.0,1,0
52,53,1.367798e+09,0,0,37,3641.0,0,1
53,54,1.363783e+09,1,1,51,3876.0,0,0
55,56,1.385974e+09,0,0,229,55.0,0,0
56,57,1.384883e+09,0,0,88,2436.0,0,0
57,58,1.359395e+09,1,0,304,6447.0,1,0
59,60,1.400195e+09,0,0,88,3463.0,1,0
65,66,1.391439e+09,0,0,215,11389.0,1,0
...,...,...,...,...,...,...,...,...
11926,11927,1.361350e+09,0,0,158,3515.0,0,0
11927,11928,1.379764e+09,0,0,52,11973.0,0,0
11930,11931,1.346479e+09,0,0,37,3641.0,1,0
11931,11932,1.390030e+09,0,0,181,5369.0,0,0
11932,11933,1.383401e+09,1,1,218,6374.0,1,0
11933,11934,1.361195e+09,1,1,292,4458.0,1,0
11934,11935,1.359528e+09,1,1,22,3288.0,0,0
11935,11936,1.401202e+09,1,0,39,11966.0,0,0
11937,11938,1.400450e+09,0,0,6,3419.0,0,0
11939,11940,1.401426e+09,1,0,69,10846.0,1,0
11942,11943,1.366973e+09,0,0,1,801.0,1,0
11944,11945,1.392250e+09,0,0,19,6134.0,1,0
11946,11947,1.400728e+09,1,0,66,9964.0,1,0
11948,11949,1.401314e+09,0,0,156,3565.0,0,0
11949,11950,1.393809e+09,0,0,407,8261.0,1,0
11950,11951,1.401032e+09,0,0,17,2314.0,1,0
11958,11959,1.401666e+09,1,1,105,5093.0,0,1
11959,11960,1.355643e+09,0,0,273,7702.0,0,0
11960,11961,1.390419e+09,0,0,2,2562.0,0,1
11961,11962,1.351460e+09,1,1,21,5781.0,1,0
11964,11965,1.400657e+09,0,0,65,11251.0,0,1
11966,11967,1.401524e+09,0,0,15,5688.0,0,1
11968,11969,1.401411e+09,1,1,52,6647.0,0,1
11974,11975,1.400757e+09,1,0,31,6410.0,0,1
11979,11980,1.397835e+09,0,0,406,3068.0,1,0
11980,11981,1.364868e+09,0,0,110,5775.0,0,0
11981,11982,1.386341e+09,1,1,57,2527.0,1,0
11989,11990,1.373144e+09,0,0,25,3944.0,1,0
11995,11996,1.378448e+09,0,0,89,8263.0,1,0
11997,11998,1.398603e+09,1,1,83,8074.0,0,0

In [89]:
#5) Feature Selection with Recursive Feature Elimination (RFE)

from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression


#a) Selectinf features and target variable
X= combined_df_model_w_dum.drop("user_adoption_yes", axis=1)
Y = combined_df_model_w_dum["user_adoption_yes"]

#b) Instantiating model & use RFE
model_logreg = LogisticRegression()
#RFE
rfe = RFE(model_logreg, 3)#calling RFE with model and number of best features we would like to keep

rfe = rfe.fit(X, Y) #fitting rfe with features and target variable

features_selected = rfe.support_ #indicates whether feature is selected or not (True or False)
features_selected_rank = rfe.ranking_ #gives ranking of feature (lower is better)


#Finding column names of features selected
orig_columns = X.columns.values #orignal column names in list form
#print(orig_columns)

selected_column_names = np.array(orig_columns) * features_selected

#cleaning up list of selected column names, removing empty strings
final_selected_column_names = [x for x in selected_column_names if len(x)>1]
print("These are the Features that have been selected via RFE:\n\n", final_selected_column_names)

These are the Features that have been selected via RFE:

 ['object_id', 'last_session_creation_time', 'invited_by_user_id']

# Conclusion

It was determined that 'object_id', 'last_session_creation_time', 'invited_by_user_id' are the three most important features for prediciting wheter a user will be an'adopted user' or not. One recommendation that can be gained from looking at these features is for Relax to create an incentive referal program to increase the potential of gaining an 'adopter user'('object_id' & 'invited_by_user are top features). Futher analaysis is warranted where features are engineered to include first names, and email domains or even collecting additional data about users.